<?xml version="1.0"?>
<launch>

<!--   URDF -->
  <arg name="virtualarm_model" default="$(find pepper_surrogate)/urdf/01-virtualarm.xacro"/>
  <param name="virtualarm_description" command="$(find xacro)/xacro $(arg virtualarm_model)" />
  <arg name="oculus_model" default="$(find pepper_surrogate)/urdf/02-oculus.urdf"/>
  <param name="oculus_description" command="$(find xacro)/xacro $(arg oculus_model)" />

<!--   Oculus and Head Control -->
<!--   <node pkg="pepper_surrogate" type="head_control_node" name="head_control_node"> -->
<!--     <param name="verbosity" value="1"/> -->
<!--     <remap from="/cmd_vel" to="/desired_cmd_vel" /> -->
<!--   </node> -->

  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find pepper_surrogate)/rosbags/vicon_both_arms_test.bag"/>

<!--   Arm control -->
  <node pkg="pepper_surrogate" type="arm_control_node.py" name="vicon_tracker_node">
    <param name="vicon_tracking" value="true"/>
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(env HOME)/.rviz/oculus_surrogate.rviz" />
</launch>
